*{
font-family: 'Raleway', sans-serif;
}
header {
  background-image: url(../img/thumb.png);
}

#contenedor_receta{
  display:grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 10vh 50vh 20vh;
  width:100%;
  max-width:100%;
  min-width: 60%;
}

#contenedor_receta .ingredientes{
  grid-row: 2/4;
  grid-column: 2/4;
  display: inline-grid;
  border: 0.5px;
  border: solid;
  border-color: white;
  padding: 2px;
  box-sizing: border-box;
}

#contenedor_receta .preparacion{
  grid-row: 2/4;
  grid-column: 4/7;
  display: inline-grid;
  border: 0.5px;
  border: solid;
  border-color: white;
  padding: 2px;
  box-sizing: border-box;
}

#contenedor_receta .preparacion_2{
  grid-row: 2/4;
  grid-column: 2/7;
  display: inline-grid;
  border: 0.5px;
  border: solid;
  border-color: white;
  padding: 2px;
  box-sizing: border-box;
}

.cambia_pag{
  grid-row: 3/4;
  grid-column: 6/7;
 position: relative;
 top:65%;
}

.cambia_pag a {
   color: black;
   background-color: white;
   float: left;
   padding: 11px 18px;
   text-decoration: none;
   border-radius: 10%;
 }

 .cambia_pag a.active {
   background-color: #de1d1d;
   color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .cambia_pag a:hover:not(.active) {background-color: rgb(157, 157, 157);
  box-shadow: 1px 3px 2px grey;

}


#contenedor_receta .button1{
  grid-column: 2/3;
  grid-row:1/2;
}
#contenedor_receta .button2{
  grid-column: 3/4;
  grid-row:1/2;
}
#contenedor_receta .button3{
  grid-column: 4/5;
  grid-row:1/2;
}
#contenedor_receta .button4{
  grid-column: 5/6;
  grid-row:1/2;
}

#contenedor_receta .button5{
  grid-column: 6/7;
  grid-row:1/2;
}

#contenedor_receta .video{
  grid-row: 2/3;
  grid-column: 2/7;
  width: 100%;
  height: 90%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: : white;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.button1:hover {
  background-color: #b30000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

.button2 {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.button2:hover {
  background-color: #b30000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

.button3 {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.button3:hover {
  background-color: #b30000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);

}

.button4 {
  background-color: #b30000;
  color: white;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

.button4:hover {
  background-color: #b30000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

.button5 {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.button5:hover {
  background-color: #b30000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

#main-header {
	background: #333;
	color: white;
	height: 80px;

}
#main-header a {
		color: white;

	}

  #main-header .ul a:hover {
  	box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
  }

#main-header img {
		float: left;
    width: 15%;
    height: 100%;
}

#logo-header {
  	float: left;
  	padding: 15px 0 0 20px;
  	text-decoration: none;
  }
#logo-header:hover {
  		color: #b30000;
  	}
#logo-header .site-name {
    		display: block;
    		font-weight: 700;
    		font-size: 1.2em;

    	}
#logo-header .site-desc {
      		display: block;
      		font-weight: 300;
      		font-size: 0.8em;
      		color: #999;
}
nav {
  float: right;
}
nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
}
nav ul li {
 display: inline-block;
 line-height: 80px;
  		}
nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}
nav ul li a:hover {
  background: #b30000;
}
body{
  background-color:black;
  color:white;
  font-size: 125%;
}
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 27px;
	margin-top: 3px;
}
#main-footer p {
		margin: 0;
}
#main-footer a {
  	color: white;
}

/* castellano*/
#main-footer .es {
  background-color: black;
  border-radius: 35%;
  text-decoration: none;
  position: absolute;
  right: 13%;
  bottom:2%;
  font-size:100%;
  color: white;
}

#main-footer .es:hover {
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

#main-footer .es_activa {
  background-color: #CC1111;
  border-radius: 35%;
  text-decoration: none;
  position: absolute;
  right: 13%;
  bottom: 2%;
  font-size:100%;
  color: white;

}

 #main-footer .es_activa:hover {
  background-color: #CC1111;
  border-radius: 35%;
  text-decoration: none;
  position: absolute;
  right: 13%;
  bottom: 2%;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

/*catalan */
#main-footer .ca {
  background-color: black;
  border-radius: 35%;
  text-decoration: none;
  position: absolute;
  right: 9%;
  bottom:2%;
  font-size:100%;
  color: white ;
}

#main-footer .ca:hover {
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

#main-footer .ca_activa {
  background-color: #CC1111;
  border-radius: 35%;
  text-decoration: none;
  position: absolute;
  right: 9%;
  bottom:2%;
  font-size:100%;
  color: white;
}

#main-footer .ca_activa:hover {
  background-color: #CC1111;
  border-radius: 35%;
  text-decoration: none;
  position: absolute;
  right: 9%;
  bottom:2%;
  font-size:100%;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.37), 0 6px 20px 0 rgba(255, 255, 255, 0.36);
}

  /*</idiomas> */

  @media screen and (max-width:1000px;){
    .cambia_pag {
      width: 100%;
      height: auto;
    }
    .ingredientes {
      width: 100%;
      height: auto;

    }

    .preparacion {
      width: 100%;
      height: auto;

    }

    .ingredientes_2 {
      width: 100%;
      height: auto;

    }



  }
